<div id="home" class="welcome-area" data-stellar-background-ratio="0.6" style="background-image: url(assets/img/video-bg.jpg);">
  <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=tO01J-M3g0U',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
 <div class="welcome-table">
     <div class="welcome-cell">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="welcome-text">
                        <h1 class="theme-color">Alex Smith</h1>
                         <div class="element"></div>
                          <div class="social-links">
                          <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                          </div>
                      </div>
                      <div class="home-arrow">
                          <a href="#about" class="smoth-scroll"><i class="fa fa-angle-double-down"></i></a>
                      </div>
                  </div>
             </div><!--/.row-->
          </div><!--/.container-->
      </div>
  </div>
</div>