 <!--===== STAT AREA ======-->    
 <div class="stat-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-stat">
                    <i class="fa fa-heart"></i>
                    <h2 class="counter">35</h2>
                    <h3>Happy Clients</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-stat">
                    <i class="fa fa-coffee"></i>
                    <h2 class="counter">227</h2>
                    <h3>Cups of tea</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-stat">
                    <i class="fa fa-handshake-o"></i>
                    <h2 class="counter">156</h2>
                    <h3>Projects completed</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-stat">
                    <i class="fa fa-trophy"></i>
                    <h2 class="counter">15</h2>
                    <h3>Award Won</h3>
                </div>
            </div>
        </div> <!--/.row -->
    </div> <!--/.container -->
</div>
<!--===== END STAT AREA ======-->
