<!--==== TESTIMONIAL AREA =====-->
<div id="testimonial" class="testimonial-area section-padding">
    <div class="container">
       <div class="row">
           <div class="col-md-12 text-center">
              <div class="section-title">
               <h2>what people say.</h2>
               </div>
           </div>
       </div> <!--/.row-->
       
       <div class="row">
        <div class="col-md-12">
            <div class="testimonial-list">
                <div class="single-testimonial">
                    <span class="quote-mark"><i class="fa fa-quote-right"></i></span>
                    <div class="t-content">
                        <p>"Lorem ipsum dolor sit amet, consectetuer adiping elit, sed diam nonummy nibh euismod tinunt ut laoreet dolore."</p>
                    </div>
                    <div class="t-author">
                        <div class="t-image">
                            <img src="assets/img/testimonial/1.jpg" alt="">
                        </div>
                        <div class="t-name">
                            <h4>jhon doe<span>Graphic Designer</span></h4>
                            
                        </div>
                    </div>
                    </div>
                    <div class="single-testimonial">
                        <span class="quote-mark"><i class="fa fa-quote-right"></i></span>
                        <div class="t-content">
                             <p>"Lorem ipsum dolor sit amet, consectetuer adiping elit, sed diam nonummy nibh euismod tinunt ut laoreet dolore."</p>
                        </div>
                        <div class="t-author">
                            <div class="t-image">
                                <img src="assets/img/testimonial/2.jpg" alt="">
                            </div>
                            <div class="t-name">
                                <h4>MICHAEL BEAN<span>Graphic Designer</span></h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <span class="quote-mark"><i class="fa fa-quote-right"></i></span>
                        <div class="t-content">
                            <p>"Lorem ipsum dolor sit amet, consectetuer adiping elit, sed diam nonummy nibh euismod tinunt ut laoreet dolore."</p>
                        </div>
                        <div class="t-author">
                            <div class="t-image">
                                <img src="assets/img/testimonial/3.jpg" alt="">
                            </div>
                            <div class="t-name">
                                <h4>Felica Queen<span>Graphic Designer</span></h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <span class="quote-mark"><i class="fa fa-quote-right"></i></span>
                        <div class="t-content">
                            <p>"Lorem ipsum dolor sit amet, consectetuer adiping elit, sed diam nonummy nibh euismod tinunt ut laoreet dolore."</p>
                        </div>
                        <div class="t-author">
                            <div class="t-image">
                                <img src="assets/img/testimonial/4.jpg" alt="">
                            </div>
                            <div class="t-name">
                                <h4>PAUL FLAVIUS<span>Graphic Designer</span></h4>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- / row -->
    </div> <!--/.container-->
</div>
 <!--====END TESTIMONIAL AREA =====-->
