 <!--====== WORK AREA ======-->
 <div id="work" class="work-area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-title">
                 <h2>recent work.</h2>
                 <p>Here's some of my recent work</p>
             </div>
          </div>
      </div> <!--/.row-->
      
      <div class="row">
          <ul class="work-list text-center">
              <li class="filter" data-filter="all">all</li>
              <li class="filter" data-filter=".webdesign">Web design</li>
              <li class="filter" data-filter=".development">development</li>
              <li class="filter" data-filter=".grapich">Graphic design</li>
          </ul>
      </div> <!--/.row-->
      
      <div class="work-inner">
          <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12 mix webdesign">
                  <div class="single-work">
                      <img src="assets/img/work/1.jpg" alt="">
                      <div class="item-hover">
                          <div class="work-table">
                              <div class="work-tablecell">
                                  <div class="hover-content">
                                      <h4>Project Name</h4>
                                      <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                      <a class="work-popup" href="assets/img/work/1.jpg"><i class="fa fa-search-plus"></i></a>
                                      <a class="work-link" href="#"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix webdesign">
                  <div class="single-work">
                      <img src="assets/img/work/2.jpg" alt="">
                      <div class="item-hover">
                          <div class="work-table">
                              <div class="work-tablecell">
                                  <div class="hover-content">
                                      <h4>Project Name</h4>
                                      <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                      <a class="work-popup" href="assets/img/work/2.jpg"><i class="fa fa-search-plus"></i></a>
                                      <a class="work-link" href="#"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix development">
                  <div class="single-work">
                      <img src="assets/img/work/3.jpg" alt="">
                      <div class="item-hover">
                          <div class="work-table">
                              <div class="work-tablecell">
                                  <div class="hover-content">
                                      <h4>Project Name</h4>
                                      <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                      <a class="work-popup" href="assets/img/work/3.jpg"><i class="fa fa-search-plus"></i></a>
                                      <a class="work-link" href="#"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix development">
                  <div class="single-work">
                      <img src="assets/img/work/4.jpg" alt="">
                      <div class="item-hover">
                          <div class="work-table">
                              <div class="work-tablecell">
                                  <div class="hover-content">
                                      <h4>Project Name</h4>
                                      <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                      <a class="work-popup" href="assets/img/work/4.jpg"><i class="fa fa-search-plus"></i></a>
                                      <a class="work-link" href="#"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix grapich">
                  <div class="single-work">
                      
                      <img src="assets/img/work/5.jpg" alt="">
                      <div class="item-hover">
                          <div class="work-table">
                              <div class="work-tablecell">
                                  <div class="hover-content">
                                      <h4>Project Name</h4>
                                       <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                      <a class="work-popup" href="assets/img/work/5.jpg"><i class="fa fa-search-plus"></i></a>
                                      <a class="work-link" href="#"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix grapich">
                  <div class="single-work">
                      <img src="assets/img/work/6.jpg" alt="">
                      <div class="item-hover">
                          <div class="work-table">
                              <div class="work-tablecell">
                                  <div class="hover-content">
                                      <h4>Project Name</h4>
                                       <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                      <a class="work-popup" href="assets/img/work/6.jpg"><i class="fa fa-search-plus"></i></a>
                                      <a class="work-link" href="#"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div> <!--/.row-->
      </div>
  </div><!--/.container-->
</div>
<!--====== END WORK AREA ======-->