 <div id="about" class="about-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                       <div class="author-image">
                            <img src="assets/img/aman.jpg" alt="Author Image"> <!--=== author image ===-->
                        </div>
                    </div>

                    <div class="col-md-7">
                       <div class="about-text">
                            <h4> <span class="theme-color">web</span> & <span class="theme-color">Graphic</span> Designer</h4>
                            Aman Akshar is among the few newcomers in traditional poetry who actually
                            promises that song (Geet) will always be an essential element for Hindi literature.
                            He does not impose non-sense similes, unusual metaphors in the name of new
                            poetry but articulates his thoughts in such a way that each and every minute feel
                            whether of romance, sorrow or philosophy; starts singing itself. Pure and
                            impressive language with mesmerizing expression of thoughts adds charm in his
                            poetry; his poems not only sing each thought but make you sing too. He comes
                            with a classical form which is actually the soul of Hindi poetry i.e. Geet; Also with
                            a sincerity to keep the trend alive. Knowing akshar is genuinely a great
                            experience; he makes you think, he shows you real poetry with no pauses but
                            with a joyful rhythm throughout. He is an excellent poet, writer and a better
                            performer; his ability to connect the crowd is unmatchable, with his soothing
                            voice, purest and softest words and incredible melodies he actually bounds
                            everyone, his ability to emote well is the best part of story.
                            
                           <p> Hey! Have you heard his voice? Or attended his show? If not than make it soon
                            
                            He is truly mesmerizing.</p>
                            <a class="btn theme-color" href="#">Book a Show</a>
                            
                        </div>
                    </div>
                </div><!--/.row-->
            </div><!--/.container-->
        </div>
        <!--===== END ABOUT AREA =====-->
