 <div id="about" class="about-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                       <div class="author-image">
                            <img src="assets/img/author.jpg" alt="Author Image"> <!--=== author image ===-->
                        </div>
                    </div>

                    <div class="col-md-7">
                       <div class="about-text">
                            <h4> <span class="theme-color">web</span> & <span class="theme-color">Graphic</span> Designer</h4>
                           
                            <a class="btn theme-color" href="#">Book a Show</a>
                            
                        </div>
                    </div>
                </div><!--/.row-->
            </div><!--/.container-->
        </div>
        <!--===== END ABOUT AREA =====-->
