<div id="about" class="about-area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
             <div class="author-image">
                  <img src="assets/img/author.jpg" alt="Author Image"> <!--=== author image ===-->
              </div>
          </div>

          <div class="col-md-7">
             <div class="about-text">
                  <h4>I'm 24 years old creative <span class="theme-color">web</span> & <span class="theme-color">Graphic</span> Designer</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                  
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                 
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                 
                  <a class="btn theme-color" href="#">download resume</a>
                  <a class="btn extra" href="#">Hire Me</a>
              </div>
          </div>
      </div><!--/.row-->
  </div><!--/.container-->
</div>
<!--===== END ABOUT AREA =====-->
