<div id="contact" class="contact-info-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-title">
               <h2>contact.</h2>
               </div>
            </div>
        </div> <!--/.row-->
        
        <div class="row contact-margin-bottom">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-address">
                            <i class="fa fa-rocket"></i>
                            <h4>My Location:</h4>
                            <p>3481 Melrose Place, Beverly Hills CA 90210</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-address">
                            <i class="fa fa-phone"></i>
                            <h4>Phone Number:</h4>
                            <p>(+1) 517 397 7100</p>
                            <p>(+1) 517 397 7100</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-address">
                            <i class="fa fa-envelope"></i>
                            <h4>Email Address:</h4>
                            <p>Admin@pixie.com</p>
                            <p>Info@pixie.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                  <div class="contact-form">
                     <form id="contact-form" method="post" action="http://mhbthemes.com/demos/pixie/pixie/contact.php">
                     <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Name*" required="required" data-error="Name is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Email*" required="required" data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                             </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_subject" type="text" name="subject" class="form-control" placeholder="Subject*" required="required" data-error="Subject is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                             </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Message*" rows="7" required="required" data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-effect btn-sent" value="Send message">
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>
             </div>
            </div>
    </div><!--/.container-->
</div>
<!--===== END CONTACT INFO AREA ======-->

